@media screen and (max-width: 1440px)
  .person
    &-photo
      display: none
    &-info
      width: 100%
      padding-left: 50px
@media screen and (max-width: 1370px)
  iframe
    margin-top: 50px
    width: 100%
    position: static
    order: 2
  .m-follow
    bottom: 60% !important
@media screen and (max-width: 1245px)
  .letters
    &-hide
      left: 165px
@media screen and (max-width: 1140px)
  .container
    width: 960px
  .follow
    display: none
  .header
    &_line
      display: none
  .nav__item:not(:last-child)::after
    display: none
  .nav__item:not(:last-child)
    margin-right: 18px
  .calendar
    &-widget
      padding: 0
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &__desc
      width: 80%
      text-align: center
  .home
    &__title
      width: 100%
      font-size: 140px
      margin-top: 30px
    &__content
      align-items: center
  .dividends__content
    margin-top: 0
    margin-left: 200px
  .experience
    &__content
      .d-flex
        justify-content: space-between
    &__title
      top: -72px
      left: -4px
      font-size: 107px
    &-card
      z-index: 0
  .stage
    &__section
      padding-bottom: 350px
    &-progress
      display: none
    &-content
      display: none
  .m-stage
    &-content
      display: flex
      align-items: center
  .step
    width: 750px
    &__block
      display: flex
      flex-direction: column
    .align-start
      align-items: center
    &-description
      margin-top: 0
    &__count
      display: flex
      justify-content: center
      align-items: center
      min-width: 210px
    &__text
      margin-top: 20px
  .step__block:last-child
    margin-top: 0
  .step_right:first-child .step-description,
  .step_right:last-child .step-description
    margin-left: 33px
  .step:first-child .step__text,
  .step:last-child .step__text,
  .step_right:first-child .step__text,
  .step_right:last-child .step__text
    width: 100%
  .step_right:last-child .step__text
    margin-top: 20px
  .step__block:not(:last-child)
    margin-bottom: 50px
  .feedback
    &__title
      margin-left: 0
      margin-top: -51px
      font-size: 285px
    &__content
      .justify-between
        justify-content: space-between
    &-aside
      margin-left: 0
    &-social
      right: 90px
  .section
    &-bg
      background-size: 133% 2641px
  .about
    &__section
      position: relative
      overflow: hidden
    &__content
      align-items: flex-start
    &-consultation
      &_circle
        left: 270px
        top: 0
    &__image
      margin-top: 160px
      margin-left: -86px
  .person
    &__details, &__figure, &-desc
      margin-left: 0
    &-column
      &_one
        width: 40%
      &_three
        width: 40%
  .instagram
    margin-right: 0
  .portfolio
    &__section
      overflow: hidden
      padding-bottom: 50px
    &__title
      width: 100%
      margin-left: 0
    &__heading
      flex-direction: column
    &__bg
      top: 324px
      height: 895px
      width: 122%
    &-info
      width: 100%
      .align-end
        align-items: flex-start
    &__content
      flex-wrap: wrap
      margin-top: 30px
    &__controls
      display: none
  .letters__section
    margin-top: 50px
    overflow-x: hidden
  .questions
    &__section
      overflow: hidden
@media screen and (max-width: 992px)
  .container
    width: 100%
    padding: 0 15px
  .nav
    display: none
  .burger
    height: 70px
    width: 70px
    background-color: $white
    border-radius: 50%
    border: none
    box-shadow: 10px 10px 15px rgba($gray, 0.2)
    display: flex
    justify-content: center
    align-items: center
    &:hover
      cursor: pointer
    &__span
      display: block
      height: 2px
      width: 25px
      background-color: rgba($gray, 0.3)
      position: relative
      &::before, &::after
        content: ''
        display: block
        height: 2px
        width: 25px
        background-color: rgba($gray, 0.3)
        position: absolute
        left: 0
      &::before
        top: -8px
        transition: 0.3s
      &::after
        top: 8px
        transition: 0.3s
      &_active
        background-color: transparent
        &::before
          top: 0
          transform: rotate(45deg)
          transition: 0.3s
        &::after
          top: 0
          transform: rotate(-45deg)
          transition: 0.3s
  .drop-block
    display: block
    height: 100%
    width: 100%
    position: fixed
    bottom: -100%
    right: -100%
    background: linear-gradient(90deg, $orangeLight, $orangeDark)
    z-index: 99
    color: $white
    transition: 0.3s
    &_active
      bottom: 0
      right: 0
      transition: 0.3s
    &-wrapper
      height: 100%
      width: 90%
      margin: 0 auto
      position: relative
      padding-bottom: 25px
    &_close
      position: absolute
      top: 30px
      right: 30px
      background: none
      border: none
      color: $white
      font-size: 50px
      &::after
        content: ''
        display: block
        height: 2px
        width: 0
        background-color: $white
        margin-top: 5px
        transition: 0.3s
      &:hover
        cursor: pointer
        &::after
          width: 100%
          transition: 0.3s
    &__title
      font-size: 80px
      width: 300px
      padding-top: 50px
    &__subtitle
      font-size: 18px
      +bold()
    &-social
      margin-top: 15px
      display: flex
    &-card:not(:last-child)
      margin-right: 30px
    &__icon
      height: 50px
      width: 50px
      border: none
      background-color: $white
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      box-shadow: 10px 10px 15px rgba($gray, 0.2)
      svg
        height: 25px
        width: 25px
        stroke: none
        fill: url(#drop-block-gradient)
    &__name
      margin-top: 5px
    &__follow
      display: block
      margin-top: 40px
    &__offer
      color: $white
  .calendar-widget
    width: 246px
    height: 128px
  .home
    &__content
      flex-direction: column
    &__title
      font-size: 60px
      text-align: center
      animation: none
      display: none
    &__circles
      display: none
  .m-home
    &__title
      display: block
  .circles__block
    display: none
  .blockquote
    text-align: center
    &__text
      width: 470px
      margin-top: 0
  .dividends
    &__content
      width: 90%
      margin-left: 0
    &__text
      width: 100%
      text-align: center
      margin-top: 25px
    &-block
      &::before
        display: none
    &__link
      margin: 50px auto 0 auto
  .stage
    &__section
      padding-bottom: 190px
  .experience
    &__section
      margin-top: 90px
      height: 522px
      padding-top: 20px
    &__title
      position: static
      width: 80%
      font-size: 87px
      line-height: 85px
      white-space: pre-wrap
    &__text
      flex-basis: 43%
      margin-top: 60px
      br
        display: none
    &-card
      height: 430px
      flex-basis: 50%
      margin-left: 0
      margin-top: -50px
      padding: 20px 50px
      display: flex
      flex-direction: column
      text-align: center
      justify-content: center
      align-items: center
      &__text
        br
          display: none
      &__title
        margin-top: 60px
      &_circle
        right: calc(50% - 23px)
  .feedback
    &__section
      height: 616px
    &__block
      flex-direction: column
    &-aside
      margin: 115px auto 0 auto
      height: 510px
      padding: 20px
      text-align: center
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      &__text
        width: 80%
      &-circle
        &__smile
          margin-bottom: 60px
    &-description
      order: -1
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
    &__heading
      font-size: 35px
      margin-bottom: 10px
      &::after
        display: none
    &__text
      text-align: center
      width: 450px
      br
        display: none
    &__title
      margin-top: -14px
      font-size: 221px
      text-align: center
      width: 100%
    &-social, &_circle
      display: none
  .section-bg
    background-size: 157% 3020px
  .about
    &__image
      margin-top: 151px
      margin-left: -153px
    &__description
      margin-left: 50px
    &__text
      &::after
        display: none
    &-figure
      display: none
    &-consultation
      margin-top: 50px
      margin-left: 50px
      align-items: center
      div:last-child
        margin-top: 0
  .person
    &__section
      height: auto
      padding-bottom: 50px
    &__figure, &__questionnaire
      display: none
    &__content
      align-items: center
    &-info
      padding-left: 0
    &-column
      &_one, &_three
        width: 50%
        align-items: center
    &-desc
      margin-top: 30px
      width: 250px
      transition: none
      &__span
        transition: none
        &::after
          display: none
      &__text
        margin-top: 60px
        transition: none
    &__name
      margin-top: 0
      width: 250px
      transition: none
      &_igor
        transition: none
        &::after
          display: none
    &__link
      &_igor
        margin-left: 0
    &__quote
      text-align: center
      transition: none
      &_igor
        transition: none
        margin-left: 0
        width: auto
        br
          display: none
    &-footer
      margin-top: 80px
      width: 100%
      align-items: center
      justify-content: center
    &-social
      margin-right: 0
      margin-bottom: 0
    &-controls
      &__btn
        margin: 0 0 0 50px
        &_active
          svg
            transform: rotate(-90deg)
            transition: 0.3s
            margin-right: 3px
        &_hide
          display: block
          margin: 0 50px 0 0
          svg
            transform: rotate(90deg)
            transition: 0.3s
            margin-right: 5px
  .instagram
    margin-top: 0
  .portfolio
    &__title
      text-align: center
      font-size: 80px
    &-info
      .align-end
        align-items: center
      &__businnes
        text-align: center
        font-size: 35px
      &__line
        width: 70%
      &__text
        text-align: center
        width: 450px
        margin: 20px auto 0 auto
    &__bg
      display: none
    &-cases
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &-players
      flex-direction: row
      align-items: center
      justify-content: space-around
      width: 100%
      margin-left: 0 !important
    &-cases
      width: 100%
      display: flex
      align-items: center
      justify-content: center
  .swiper
    &-container
      width: 100%
      height: 450px
  .slider
    &__prev, &__next
      background-color: $black
    &__next
      margin-top: 0
  .player
    &-speaker, &-widget
      box-shadow: 10px 10px 15px rgba($gray, 0.2)
    &-speaker
      height: 250px
      width: 250px
      z-index: 2
      &-controls
        box-shadow: 10px 10px 15px rgba($gray, 0.2)
        bottom: -14px
        right: -64px
  #waveform
    min-width: 80% !important
    canvas, wave
      width: 100%
      min-height: 80px !important
  .case
    margin: 0 auto
    box-shadow: 10px 10px 15px rgba($gray, 0.2)
  .questions
    &__section
      padding: 150px 0
    &__title
      width: 90%
      font-size: 140px
      white-space: pre-wrap
      top: -2px
      left: 32px
@media screen and (max-width: 768px)
  .swiper
    &-container
      height: 350px
  .calendar
    &-widget
      height: 145px
      width: 270px
    &__desc
      font-size: 18px
  .home
    &__section
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
    &__title
      font-size: 60px
      width: 100%
      margin: 30px auto 45px auto
      text-align: center
  .blockquote
    align-items: center
    &__text
      width: 500px
  .section
    &-subtitle
      font-size: 18px
  .experience
    &_rectangle
      height: 633px
    &__section
      height: 565px
    &__title
      font-size: 65px
      text-align: center
      width: 100%
    &__content
      .d-flex
        flex-direction: column
        align-items: center
    &__text
      width: 70%
      text-align: center
      margin-top: 25px
    &-warning
      top: calc(50% - 40.5px)
    &-card
      margin-top: 50px
      padding: 100px 50px
      &__text
        width: 100%
        br
          display: none
  .stage
    &__section
      padding-top: 100px
      padding-bottom: 600px
    &__content
      margin-top: 0
  .step
    &__block
      width: 80%
      text-align: center
      .d-flex
        flex-direction: column
        align-items: center
    &-description
      margin-left: 0
      display: flex
      flex-direction: column
      align-items: center
      .d-flex
        flex-direction: row
  .step:first-child .step__text, .step:last-child .step__text, .step_right:first-child .step__text, .step_right:last-child .step__text
    width: 100%
    text-align: center
  .step_right:first-child .step-description, .step_right:last-child .step-description
    margin-left: 0
  .feedback
    &_circle
      display: none
    &-description
      margin-right: 0
      margin-top: 30px
    &__title
      margin-top: 0
      font-size: 158px
  .about
    &__section
      margin-top: 415px
      padding-bottom: 75px
    &__image
      display: none
    &__title
      margin-top: 125px
    &__content
      width: 100%
      align-items: center
    &__description
      margin-left: 0
      text-align: center
      display: flex
      flex-direction: column
      align-items: center
    &__text
      width: 500px
      margin-top: 30px
    &-consultation
      margin-left: 0
      text-align: left
      display: flex
      &__text
        font-size: 18px
      &_circle
        left: calc(50% - 23px)
        top: 70px
  .person
    &__name
      font-size: 40px
      margin-top: 0
    &__span
      font-size: 18px
    &-desc
      margin-top: 10px
      &__text
        margin-top: 40px
  .portfolio
    &__title
      font-size: 80px
    &-players
      flex-direction: column
    &-info
      &__text
        font-size: 18px
  .player
    &-speaker, &-widget
      margin-top: 100px
  .case
    &-info
      &__desc
        font-size: 18px
  .questions
    &-flex
      flex-direction: column
      align-items: center
      text-align: center
    &__title
      font-size: 90px
      top: 58px
      left: 22px
      color: rgba($gray, 0.1)
    &__image
      top: 128px
      right: 30px
      opacity: 0.5
    &__span
      font-size: 20px
    &__block
      width: 100%
      margin-left: 0
    &__subtitle
      margin-bottom: 5px
    &__text
      &::before
        display: none
    &__link
      margin: 40px 0 0 0
@media screen and (max-width: 711px)
  .letters
    &-block
      display: flex
      justify-content: center
    &-photo
      width: 200px
      height: 200px
@media screen and (max-width: 627px)
  iframe
    width: 100%
    height: 500px
  .player
    &-speaker
      margin-top: 60px
@media screen and (max-width: 616px)
  .stage
    &__section
      padding-top: 200px
@media screen and (max-width: 576px)
  .swiper
    &-container
      height: 650px
  iframe
    display: none
  .calendar
    &-widget
      height: 65px
      width: 225px
    &__desc
      display: none
  .home
    &__title
      width: 100%
      font-size: 45px
      margin-top: 50px
  .blockquote
    &__text
      width: 95%
  .experience
    &__title
      white-space: pre-wrap
      line-height: 70px
    &__text
      width: 90%
    &-card
      width: 80%
    &-warning
      top: -20.25px
      left: calc(50% - 40.5px)
    &-container
      min-width: 100%
  .person
    &__content
      flex-direction: column
    &-column
      &_one, &_three
        width: 100%
        text-align: center
      &_three
        order: -1
      &_one
        margin-top: 30px
    &__quote
      width: 70%
    &__link
      margin-top: 20px
    &__quote
      margin-top: 10px
    &__name
      width: 80%
      br
        display: none
    &-desc
      width: 80%
      text-align: center
      &__span
        justify-content: center
        width: 235px
        margin: 0 auto
    &-controls
      &__btn
        height: 50px
        width: 50px
        margin: 0 0 0 30px
        svg
          height: 13px
          width: 13px
        &_hide
          margin: 0 30px 0 0
    &-footer
      margin-top: 50px
  .stage
    &__section
      padding-top: 170px
      padding-bottom: 580px
  .step
    &__block
      width: 100%
  .feedback
    &-description
      margin-top: 40px
    &-aside
      width: 90%
    &__title
      display: none
  .section
    &-bg
      background-size: 547% 3020px
  .about
    &__section
      margin-top: 255px
    &__title
      font-size: 80px
    &-consultation
      div:last-child
        margin-left: 15px
    &__text
      width: 95%
  .portfolio
    &__title
      font-size: 50px
    &-info
      &__businnes
        font-size: 20px
      &__text
        width: 95%
      &__line
        width: 100%
  .player
    &-widget
      &-controls
        &__btn:nth-child(2)
          width: 73px
          height: 73px
          svg
            height: 25px
            width: 25px
        &__btn:first-child, &__btn:last-child
          height: 30px
          width: 30px
          svg
            height: 20px
            width: 20px
  .case
    width: 320px
    height: 300px
    &__content
      width: 100%
      flex-direction: column
      align-items: center
      text-align: center
    &-photo
      height: 80px
      width: 80px
      margin-top: 20px
    &-info
      margin: 15px 0 15px 0
      width: 95%
      &::after
        display: none
      &__desc
        white-space: pre-wrap
    &-button
      margin: 15px 0
    &__btn
      height: 40px
      width: 40px
      svg
        height: 15px
        width: 15px
        margin-top: 3px
  .letters
    &-photo
      width: 200px
      height: 200px
@media screen and (max-width: 481px)
  .swiper
    &-container
      height: 310px
@media screen and (max-width: 430px)
  .calendar
    &-widget
      height: 55px
      width: 180px
    &-image
      display: none
    &__title
      margin-left: 0
  .burger
    height: 60px
    width: 60px
  .drop-block
    &_close
      top: 20px
      right: 0
      font-size: 30px
    &__title
      font-size: 30px
      padding-top: 50px
    &-social
      flex-wrap: wrap
    &-card:not(:last-child)
      margin-right: 20px
    &-card
      min-width: 50px
    &__icon
      height: 40px
      width: 40px
      svg
        height: 20px
        width: 20px
    &-offer
      justify-content: center
    &__offer
      font-size: 16px
  .home
    &__title
      font-size: 40px
  .experience
    &__section
      height: 610px
    &__title
      font-size: 40px
      line-height: 40px
    &-card
      padding: 80px 10px
      width: 100%
      &__title
        margin-top: 30px
      &_circle
        bottom: 15px
  .stage
    &__section
      padding-top: 0
      padding-bottom: 560px
  .step
    &__count
      font-size: 120px
    &__title:first-child
      align-items: center
      margin-right: 10px
      &::after
        margin-top: 10px
        width: 20px
        margin-left: 10px
  .feedback
    &-description
      margin-top: 0
    &__heading
      text-align: center
      font-size: 30px
    &__text
      width: 100%
    &-aside
      width: 100%
      padding: 10px
      &-circle
        &__smile
          width: 40px
          margin-bottom: 80px
      &__text
        width: 95%
  .about
    &__section
      margin-top: 140px
    &__title
      width: 100%
    &-consultation
      &__title
        font-size: 18px
  .person
    &__name
      font-size: 35px
    &-desc
      width: 90%
      &__span
        font-size: 18px
      &__text
        font-size: 18px
        width: 280px
        margin: 40px auto 0 auto
    &-footer
      justify-content: space-around
    &-controls
      &__btn
        background: transparent
        margin: 0
    &_quote
      width: 90%
  .portfolio
    &-info
      &__text
        width: 95%
  .player
    &-widget
      width: 90%
      margin-top: 50px
    &-speaker
      background-color: blue
      height: 250px
      width: 250px
      margin-top: 30px
      &-preview
        height: 250px
        width: 250px
        top: calc(50% - 125px)
        left: calc(50% - 125px)
      &-controls
        bottom: -5px
        right: -17px
  #player-speaker
    display: none
  #m-player-speaker
    display: block
    position: absolute
    top: calc(50% - 150px)
    left: calc(50% - 150px)
    transform: rotate(50deg)
  #waveform
    min-width: 90% !important
    canvas, wave
      width: 100%
      max-height: 30px !important
  .case
    width: 85%
    height: 283px
    &__content
      height: 100%
      justify-content: space-between
    &-info
      width: 100%
      margin: 0
      text-align: center
      &__desc
        margin-top: 5px
  .letters
    &-photo
      width: 250px
      height: 250px
  .questions
    &__title
      display: none
    &__subtitle
      font-size: 30px
      line-height: 40px
    &__link
      width: 90%
      font-size: 18px
    &__span
      font-size: 18px
    &__image
      top: -76px
      right: 38px
      width: 50%
  .footer
    &__text
      font-size: 18px
  .swiper-pagination-bullets
    width: 180px
@media screen and (max-width: 363px)
  .stage
    &__section
      padding-bottom: 650px