@import "./sass/_settings"

body
  font-weight: 400
  overflow-x: hidden
  height: 6000px

// Header section
.header
  position: relative
  &_line
    position: absolute
    top: 68px
    left: -78px
    display: block
    border-radius: 30px
    height: 30px
    width: 14px
    background-color: rgba($gray, 0.2)
.nav
  &-list
    display: flex
  &__item
    list-style: none
    display: flex
    align-items: center
  &__item:not(:last-child)
    margin-right: 40px
    &::after
      content: ''
      display: block
      height: 26px
      width: 2px
      background-color: rgba($gray, 0.3)
      margin-left: 40px
  &__link
    text-decoration: none
    width: 202px
    height: 60px
    display: flex
    justify-content: center
    align-items: center
    box-shadow: 10px 10px 15px rgba($gray, 0.2)
    border-radius: 60px
    font-size: 16px
    color: $gray
.calendar
  &-widget
    width: 294px
    height: 174px
    border-bottom-left-radius: 12px
    border-bottom-right-radius: 12px
    background-color: rgba($gray, 0.2)
    padding: 59px 40px 26px 51px
  &-image
    height: 32px
    width: 32px
    display: flex
    justify-content: center
    align-items: center
    background-color: $white
    border-radius: 32px
    &__icon
      width: 18px
  &__title
    margin-left: 15px
    +bold()
    color: $gray
    font-size: 16px
  &__desc
    font-size: 20px
    color: $white
    margin-top: 15px
    span
      +bold()

// Home section
.home
  &__title
    margin-top: 13px
    margin-left: -12px
    margin-bottom: 45px
.section-title
  font-size: 159px
  width: 160%
  color: rgba($gray, 0.2)
.arrow-circle
  height: 46px
  width: 46px
  background-color: $black
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
  img
    width: 11px
.circles
  display: flex
  &__block
    margin-left: 50px
  &__item
    height: 14px
    width: 14px
    background-color: rgba($gray, 0.2)
    border-radius: 50%
  &__item:not(:last-child)
    margin-right: 20px
.blockquote
  &__text
    width: 314px
    margin-top: 30px
.section-subtitle
  font-size: 20px
  +book()
  line-height: 24px
.dividends
  &__content
    margin-left: 160px
    margin-top: 7px
  &-block
    display: flex
    align-items: center
    &::before
      content: ''
      display: inline-block
      height: 88px
      width: 3px
      background-color: rgba($gray, 0.3)
      margin-right: 42px
  &__text
    width: 140px
  &__link
    margin-top: 37px
    width: 187px
    height: 60px
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    color: $white
    font-size: 20px
    +book()
    background: linear-gradient(90deg, $orangeLight, $orangeDark)
    border-radius: 187px

// Experinece section
.experience
  height: 383px
  background-color: #EBEBEB
  position: relative
  &_rectangle
    position: absolute
    bottom: -151px
    right: -35px
    height: 300px
    width: 109%
    background-color: #000000
    transform: rotate(-8deg)
    z-index: 0
  &__content
    position: relative
  &__title
    position: absolute
    top: -112px
    left: -14px
  &__title
    font-size: 143px
    color: $black
    z-index: 2
  &__section
    margin-top: 189px
  &__text
    width: 313px
    margin-top: 97px
  &-card
    width: 417px
    height: 520px
    background-color: $white
    border-radius: 44px
    box-shadow: 10px 10px 15px rgba($gray, 0.2)
    z-index: 1
    margin-top: -110px
    margin-left: 101px
    padding: 207px 48px 10px 113px
    position: relative
    &__title
      margin-top: 25px
      font-size: 20px
    &_circle
      position: absolute
      bottom: 27px
      right: 32px
  &-warning
    position: absolute
    top: 188px
    left: -40.5px
    height: 81px
    width: 81px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background: linear-gradient(87deg, $orangeLight, $orangeDark)
    span
      +bold()
      color: $white
      font-size: 30px

// Stage section
.stage
  background-color: $black
  &__section
    position: absolute
    width: 100%
    height: 700px
    z-index: 0
  &__content
    margin-top: 107px
  &-progress
    display: block
    height: 467px
    width: 5px
    background-color: rgba($white, 0.3)
    position: relative
    margin-top: 33px
    &__thumb
      position: absolute
      top: 0
      left: -2px
      height: 125px
      width: 10px
      border-radius: 10px
      background: linear-gradient(90deg, $orangeLight, $orangeDark)
.step
  z-index: 2
  color: $white
  &__block:last-child
    margin-top: 74px
  &__count
    font-size: 143px
    +bold()
    width: 175px
  &-description
    margin-left: 33px
    margin-top: 28px
  &__title, &__subtitle
    font-size: 20px
    +bold()
  &__text
    margin-top: 42px
  &__title:first-child
    display: flex
    align-items: flex-end
    margin-right: 27px
    &::after
      content: ''
      display: block
      height: 1px
      margin-bottom: 5px
      width: 113px
      margin-left: 25px
      background-color: $white

.step:last-child .step__title
  &::after
    width: 61px
.step:first-child .step__text
  width: 257px
.step:last-child .step__text
  width: 301px

.step_right:first-child .step__title
  margin-right: 29px
  &::after
    width: 97px
.step_right:first-child .step__text
  width: 193px
.step_right:first-child .step-description
  margin-left: 41px

.step_right:last-child
  margin-top: 95px
.step_right:last-child .step__title
  margin-right: 10px
  &::after
    width: 19px
    margin-left: 9px
.step_right:last-child .step__text
  width: 270px
  margin-top: 28px
.step_right:last-child .step-description
  margin-left: 46px
.step_right:last-child .step__count
  margin-top: 3px
