@import "./sass/_settings"

body
  font-weight: 400

  background-color: $white
.App
  overflow-x: hidden !important
// Header section
.header
  position: relative
  &_line
    position: absolute
    top: 68px
    left: -78px
    display: block
    border-radius: 30px
    height: 30px
    width: 14px
    background-color: rgba($gray, 0.2)
.nav
  &-list
    display: flex
  &__item
    list-style: none
    display: flex
    align-items: center
  &__item:not(:last-child)
    margin-right: 40px
    &::after
      content: ''
      display: block
      height: 26px
      width: 2px
      background-color: rgba($gray, 0.3)
      margin-left: 40px
  &__link
    text-decoration: none
    width: 202px
    height: 60px
    display: flex
    justify-content: center
    align-items: center
    box-shadow: 10px 10px 15px rgba($gray, 0.2)
    border-radius: 60px
    position: relative
    overflow: hidden
    span
      font-size: 16px
      color: $gray
      z-index: 2
    &::after
      content: ''
      display: block
      position: absolute
      top: 0
      left: -100%
      height: 100%
      width: 100%
      background: linear-gradient(90deg, $orangeLight, $orangeDark)
      transition: left 0.2s linear
    &:hover
      cursor: pointer
      span
        color: $white
      &::after
        left: 0
        transition: left 0.2s linear
.burger, .drop-block
  display: none
.calendar
  &-widget
    width: 294px
    height: 174px
    border-bottom-left-radius: 12px
    border-bottom-right-radius: 12px
    background-color: rgba($gray, 0.2)
    padding: 59px 40px 26px 51px
  &-block:hover
    cursor: pointer
  &-image
    height: 32px
    width: 32px
    display: flex
    justify-content: center
    align-items: center
    background-color: $white
    border-radius: 32px
    &__icon
      width: 18px
  &__title
    margin-left: 15px
    +bold()
    color: $gray
    font-size: 16px
  &__desc
    font-size: 20px
    color: $white
    margin-top: 15px
    span
      +bold()
// Home section
.home
  &__section
    width: 100%
    position: relative
  &-block
    position: relative
    display: flex
    flex-direction: column
  &__title
    margin-top: 13px
    margin-left: -12px
    margin-bottom: 45px
    animation: translate 10s infinite linear
@keyframes translate
  0%
    transform: translateX(100%)
  100%
    transform: translateX(-120%)
// Audio player component
iframe
  position: absolute
  bottom: 100px
  right: 0
  z-index: 2
  border-radius: 20px
  height: 294px
  width: 294px
.audio-player
  position: absolute
  bottom: 146px
  right: 9px
  height: 448px
  width: 448px
  box-shadow: 10px 10px 15px rgba($gray, 0.2)
  z-index: 2
  background-color: $white
  border-radius: 50%
  &-wrapper
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__svg
    position: absolute
    top: calc(50% - 224px)
    left: calc(50% - 224px)
  &__time
    font-size: 68px
    +bold()
    color: $black
  &-image
    height: 63px
    width: 63px
    border-radius: 50%
    position: relative
    margin-top: 40px
    &__preview
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      border-radius: 50%
      object-fit: cover
  &__artist
    font-size: 20px
    +bold()
  &__name
    font-size: 16px
    +book()
    margin-bottom: 30px
.block
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  border-radius: 50%
  z-index: 3
  background-color: rgba($black, 0.8)
  display: flex
  justify-content: center
  align-items: center
// Follow Component
.follow
  position: absolute
  z-index: 2
  &__content
    align-items: center
  &__span
    font-size: 16px
    +book()
    writing-mode: vertical-lr
    transform: rotate(180deg)
    display: flex
    align-items: center
    &::before
      content: ''
      display: block
      height: 40px
      width: 2px
      background-color: rgba($gray, 0.2)
      margin-bottom: 20px
    &_active
      color: rgba($white, 0.6)
      &::before
        background-color: rgba($white, 0.6)
  &__link
    height: 43px
    width: 43px
    border: none
    background: none
    background-color: rgba($gray, 0.2)
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    margin-top: 20px
    &_active
      background-color: rgba($white, 0.3)
      &:hover
        background-color: $white
    svg
      height: 25px
      width: 25px
  &__link:hover
    cursor: pointer
    svg
      stroke: url('#follow-gradient')
      fill: url('#follow-gradient')
.section-title
  font-size: 159px
  width: 160%
  color: rgba($gray, 0.2)
.arrow-circle
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
.circles
  display: flex
  &__block
    margin-left: 50px
  &__item
    height: 14px
    width: 14px
    background-color: rgba($gray, 0.2)
    border-radius: 50%
  &__item:not(:last-child)
    margin-right: 20px
.blockquote
  &__text
    width: 314px
    margin-top: 30px
.section-subtitle
  font-size: 20px
  +book()
  line-height: 24px
.dividends
  &__content
    margin-left: 160px
    margin-top: 7px
  &-block
    display: flex
    align-items: center
    &::before
      content: ''
      display: inline-block
      height: 88px
      width: 3px
      background-color: rgba($gray, 0.3)
      margin-right: 42px
  &__text
    width: 140px
  &__link
    margin-top: 37px
    width: 187px
    height: 60px
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    color: $white
    font-size: 20px
    +book()
    background: linear-gradient(90deg, $orangeLight, $orangeDark)
    border-radius: 187px
    &:hover
      cursor: pointer

// Experience section
.experience
  height: 383px
  background-color: #EBEBEB
  position: relative
  &_rectangle
    position: absolute
    bottom: -141px
    right: 0
    width: 100%
    height: 823px
    background-color: #000000
    clip-path: polygon(0% 96%, 0 77%, 100% 51%, 100% 96%)
  &__content
    position: relative
  &__title
    position: absolute
    top: -112px
    left: -14px
    font-size: 143px
    color: $black
    z-index: 2
    width: 100%
    white-space: nowrap
  &__section
    margin-top: 189px
  &__text
    width: 313px
    margin-top: 97px
  &-card
    width: 417px
    height: 520px
    background-color: $white
    border-radius: 44px
    box-shadow: 10px 10px 15px rgba($gray, 0.2)
    z-index: 1
    margin-top: -110px
    margin-left: 101px
    padding: 207px 48px 10px 113px
    position: relative
    &__title
      margin-top: 25px
      font-size: 20px
    &_circle
      position: absolute
      bottom: 27px
      right: 32px
  &-warning
    position: absolute
    top: 188px
    left: -40.5px
    height: 81px
    width: 81px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background: linear-gradient(87deg, $orangeLight, $orangeDark)
    span
      +bold()
      color: $white
      font-size: 47px

// Stage section
.m-stage-content
  display: none
.stage
  background-color: $black
  &__section
    height: 700px
    z-index: 0
    display: block
  &__content
    margin-top: 107px
  &-progress
    display: block
    height: 467px
    width: 5px
    background-color: rgba($white, 0.3)
    position: relative
    margin-top: 33px
    &__thumb
      position: absolute
      top: 0
      left: -2px
      height: 125px
      width: 10px
      border-radius: 10px
      background: linear-gradient(90deg, $orangeLight, $orangeDark)
      animation: progress_thumb 5s infinite ease-in-out
@keyframes progress_thumb
  0%
    top: 0
  50%
    top: calc(100% - 125px)
  100%
    top: 0
.step
  z-index: 2
  color: $white
  &__block:last-child
    margin-top: 74px
  &__count
    font-size: 143px
    +bold()
    width: 175px
    text-align: center
  &-description
    margin-left: 33px
    margin-top: 28px
  &__title, &__subtitle
    font-size: 20px
    +bold()
  &__text
    margin-top: 42px
  &__title:first-child
    display: flex
    align-items: flex-end
    margin-right: 27px
    &::after
      content: ''
      display: block
      height: 1px
      margin-bottom: 5px
      width: 113px
      margin-left: 25px
      background-color: $white

.step:last-child .step__title
  &::after
    width: 61px
.step:first-child .step__text
  width: 257px
.step:last-child .step__text
  width: 301px

.step_right:first-child .step__title
  margin-right: 29px
  &::after
    width: 50px
.step_right:first-child .step__text
  width: 305px
.step_right:first-child .step-description, .step_right:last-child .step-description
  margin-left: 41px

.step_right:last-child .step__title
  margin-right: 10px
  &::after
    width: 19px
    margin-left: 9px
.step_right:last-child .step__text
  width: 270px
  margin-top: 28px
.step_right:last-child .step__count
  margin-top: 3px

// Feedback section
.feedback
  background-color: $black
  &__section
    height: 326px
    position: relative
  &__title
    color: rgba($gray, 0.2)
    font-size: 469px
    margin-top: -320px
    margin-left: -210px
    white-space: nowrap
    width: 100%
  &__content
    position: relative
  &_circle
    position: absolute
    top: -24px
    right: 218px
  &-aside
    width: 483px
    height: 633px
    background-color: $white
    margin-left: 101px
    margin-top: -49px
    border-radius: 52px
    box-sizing: border-box
    padding: 121px 93px 40px 106px
    box-shadow: 10px 10px 15px rgba($gray, 0.2)
    position: relative
    z-index: 1
    &-circle
      position: absolute
      top: -59px
      left: calc(50% - 95px)
      width: 190px
      height: 190px
      border-radius: 190px
      background-color: $white
      display: flex
      justify-content: center
      align-items: center
      z-index: 0
      &__smile
        width: 53px
    &__text
      z-index: 2
    &__text:last-child
      margin-top: 30px
      span
        +bold()
  &-description
    width: 362px
    color: $white
    margin-right: 62px
    margin-top: 73px
  &__heading
    font-size: 20px
    +bold()
    display: flex
    align-items: flex-end
    &::after
      content: ''
      display: block
      height: 2px
      width: 177px
      background-color: $white
      margin-bottom: 4px
      margin-left: 12px
  &-social
    position: absolute
    bottom: -70px
    right: 60px
    width: 38%
    height: 70px
    display: flex
    align-items: center
    justify-content: flex-start
    &__figure
      position: absolute
      top: 0
      left: -73px
      height: 60px
      width: 300px
      background: url('./assets/icons/feedback_bg.svg') no-repeat
      transition: 0.3s
      &_telegram
        left: -73px
        transition: 0.3s
      &_whatsapp
        left: 60px
        transition: 0.3s
      &_phone
        left: 194px
        transition: 0.3s
      &_mail
        left: 327px
        transition: 0.3s
    &__link
      height: 29px
      width: 29px
      transition: 0.3s
      margin-right: 104px
      position: relative
      z-index: 2
      background: none
      border: none
      &:hover
        cursor: pointer
      svg
        height: 29px
        width: 29px
        transition: 0.3s
        fill: #80808f
      &_active
        height: 65px
        width: 65px
        background-color: $white
        border-radius: 50%
        transition: 0.3s
        margin-bottom: 50px
        svg
          height: 41px
          width: 41px
          margin-top: 3px
          transition: 0.3s
          fill: url(#linear-gradient)
      &__span
        display: block
        height: 100%
        width: 100%
// Section bg
.section-bg
  background: url(./assets/image/section-bg.png) no-repeat top center / cover
  background-size: 100% 2641px

// About section
.about
  &__section
    width: 100%
    position: relative
    margin-top: 505px
  &__image
    margin-top: 150px
    margin-left: 0
    width: 517px
    height: 770px
  &-title
    display: block
  &__title
    margin-top: 184px
    margin-left: -3px
    font-size: 141px
    color: $white
    width: 190%
    background: linear-gradient(90deg, #E9635C 0%, $white 10%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &__description
    margin-top: 48px
    margin-left: 125px
  &-line
    color: $white
    h4:first-child::after
      height: 2px
      margin-bottom: 4px
  &__text
    width: 318px
    margin-top: 64px
    color: $white
  &__text:last-child
    margin-top: 24px
    position: relative
    display: block
  &__text:last-child::after
    content: ''
    position: absolute
    right: -58px
    bottom: -47px
    width: 34px
    height: 10px
    background-color: $white
  &-consultation
    color: $white
    margin-top: 99px
    margin-left: 125px
    font-size: 20px
    display: flex
    div:last-child
      margin-top: 13px
      margin-left: 35px
    &__title
      +bold()
    &__text
      margin-top: 1px
  &-figure
    display: flex
    align-items: center
    margin-top: 54px
    margin-left: 125px
    &__line
      width: 209px
      height: 2px
      background-color: $white
      margin-right: 7px
    &-circles
      display: flex
      align-items: center
      &__item
        height: 14px
        width: 14px
        border-radius: 50%
        background-color: rgba($white, 0.4)
      &__item:not(&:first-child)
        margin-left: 17px

// Person section
.m-person
  &__content
    display: none
.speaker
  &-container
    height: 100%
    width: 100%
.person
  &__section
    width: 100%
    height: 819px
    background-color: $white
    margin-top: 47px
  &-photo
    height: 819px
    min-width: 555px
    position: relative
    z-index: 0
    &__img
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      z-index: 1
    &-info
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 110px
      z-index: 2
      backdrop-filter: blur(10px)
      color: $white
      writing-mode: vertical-lr
      display: flex
      align-items: center
      justify-content: flex-start
      font-size: 20px
      &__span
        +bold()
        margin-top: 41px
        margin-bottom: 20px
        display: flex
        align-items: center
        &::before
          content: ''
          display: block
          height: 75px
          width: 2px
          background-color: $white
          margin-bottom: 20px
      &__span, &__text
        transform: rotate(180deg)
  &-info
    margin-top: 36px
    padding-left: 145px
    width: 65%
  &__questionnaire
    font-size: 20px
    color: rgba($black, 0.5)
  &__name
    font-size: 49px
    +bold()
    margin-top: 117px
    &_igor
      &::after
        content: ''
        display: block
        height: 2px
        width: 100%
        background-color: rgba($gray, 0.3)
        margin-top: 15px
  &-desc
    margin-top: 95px
    margin-left: 77px
    width: 183px
    transition: 1s
    &_active
      transition: 1s
    &_igor
      width: 250px
      margin-left: 0
      margin-top: 30px
    &__span
      +bold()
      color: $black
      font-size: 20px
      display: flex
      align-items: flex-end
      &::after
        content: ''
        display: block
        height: 3px
        width: 59px
        background-color: $black
        margin-left: 18px
        margin-bottom: 3px
      &_igor
        &::after
          display: none
    &__text
      font-size: 20px
      line-height: 24px
      margin-top: 25px
      transition: 1s
      &_igor
        margin-top: 60px
      &_active
        transition: 1s
  &__figure
    margin-left: 26px
  &__icon
    height: 15px
    width: 15px
    transform: rotate(-90deg)
  &__line
    width: 2px
    height: 408px
    background-color: rgba($black, 0.3)
    margin-top: 135px
  &__details
    margin-left: 101px
  &__link
    +bold()
    text-decoration: none
    font-size: 20px
    background: none
    border: none
    color: $gray
    margin-top: 38px
    margin-left: 5px
    transition: 1s
    &:hover
      cursor: pointer
    &_igor
      margin-left: 100px
      transition: 1s
  &__quote
    width: 270px
    margin-top: 19px
    color: rgba($gray, 0.4)
    transition: 1s
    &_igor
      width: 120px
      margin-left: 180px
      transition: 1s
  &-social
    display: flex
    margin-right: 200px
    margin-bottom: 50px
    &__item
      background-color: $black
      border-radius: 50%
      list-style: none
      margin-left: 30px
      &:first-child
        margin-left: 0
    &__link
      height: 43px
      width: 43px
      background: none
      border: none
      display: flex
      justify-content: center
      align-items: center
      svg
        height: 25px
        width: 25px
      &:hover
        cursor: pointer
        svg
          stroke: url(#social-gradient)
          fill: url(#social-gradient)
  &-controls
    &__btn
      margin-right: 140px
      margin-bottom: 50px
      display: flex
      justify-content: center
      align-items: center
      height: 71px
      width: 71px
      background-color: $white
      box-shadow: 10px 10px 15px rgba($gray, 0.2)
      border: none
      border-radius: 50%
      position: relative
      svg
        width: 20px
        height: 10px
        transition: 0.3s
        margin-right: 3px
      &:hover
        cursor: pointer
      &_active
        svg
          transform: rotate(90deg)
          transition: 0.3s
          margin-right: 6px
    &__icon
      height: 15px
      width: 15px
      margin-left: 5px
      transform: rotate(-90deg)
.count
  position: absolute
  bottom: 0
  right: -145px
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  height: 150px
  width: 400px
  background-color: $black
  z-index: 3
  color: $white
  &__span
    font-size: 40px
    +bold()
    margin-right: 271px
  &__progress
    width: 80%
    height: 4px
    background-color: rgba($white, 0.2)
    margin-top: 30px
    position: relative
    &::after
      content: ''
      display: block
      height: 6px
      width: 50%
      background-color: $white
      border-radius: 4px
      position: absolute
      top: calc(50% - 3px)
      left: 0
      transition: 0.8s
    &_active
      &::after
        left: calc(100% - 50%)
        transition: 0.8s
  &-photo
    writing-mode: vertical-lr
    position: absolute
    top: 188px
    right: -51px
    z-index: 2
    transform: rotate(180deg)
    display: flex
    &__number
      font-size: 20px
      color: $black
      +bold()
    &__number:first-child
      display: flex
      align-items: center
      margin-bottom: 40px
      &::after
        content: ''
        display: block
        height: 74px
        width: 2px
        background-color: rgba($black, 0.1)
        margin-top: 37px
.instagram
  height: 260px
  width: 260px
  background-color: $white
  border-radius: 50%
  box-shadow: 10px 10px 15px rgba($gray, 0.2)
  margin-top: 128px
  margin-right: 130px
  position: relative
  &-photo
    position: absolute
    top: calc(50% - 98px)
    left: calc(50% - 98px)
    height: 197px
    width: 197px
    &__image
      border-radius: 50%
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      object-fit: cover
      &_yuna
        transform: scale(0)
        transition: 0.5s
  &-icons
    position: absolute
    bottom: 16px
    right: 12px
    height: 43px
    width: 43px
    border-radius: 50%
    background: linear-gradient(100deg, $orangeLight, $orangeDark)
    display: flex
    justify-content: center
    align-items: center
    z-index: 2
    svg
      width: 27px
      height: 27px
      fill: $white
#instagram
  g
  transform: rotate(45deg)
// Portfoilio section
.portfolio
  &__section
    position: relative
  &__bg
    position: absolute
    top: 269px
    left: -2px
    width: 100%
    z-index: -1
    height: 890px
  &__heading
    padding-top: 59px
  &__title
    color: $white
    font-size: 118px
    margin-left: -6px
  &-info
    color: $white
    font-size: 20px
    width: 95%
    margin-top: 54px
    &__businnes
      +bold()
    &__line
      height: 2px
      width: 100%
      background-color: $white
      margin-top: 6px
    &__text
      margin-top: 20px
      span
        +bold()
  &-cases
    margin-top: 35px
.voice
  font-size: 20px
  +bold()
  color: $white
  margin-top: 33px
  &__speaker
    margin-top: 2px
    margin-left: 15px
    color: rgba($white, 0.2)
.player
  &-controls
    margin-top: 23px
    height: 181px
    width: 181px
    background-color: $black
    border-radius: 10px
    display: flex
    justify-content: center
    align-items: center
    &__btn:disabled
      opacity: 0.7
      transition: opacity 0.5s linear
    &__btn
      width: 46px
      height: 46px
      background-color: rgba($white, 0.4)
      border: none
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      transition: opacity 0.5s linear
      svg
        height: 15px
        width: 15px
        fill: $white
      &:hover
        cursor: pointer
        background-color: $white
        svg
          fill: $black
    &__btn:nth-child(2n)
      margin-left: 26px
    &_bottom
      margin-top: 22px
  &-speaker
    width: 370px
    height: 370px
    border-radius: 50%
    &-preview
      height: 321px
      width: 321px
      position: absolute
      top: calc(50% - 160.5px)
      left: calc(50% - 160.5px)
      border-radius: 50%
      &__image
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        object-fit: cover
        border-radius: 50%
    #player-speaker
      position: absolute
      top: calc(50% - 185px)
      left: calc(50% - 185px)
      transform: rotate(45deg)
    &-controls
      position: absolute
      bottom: 19px
      right: 8px
      height: 87px
      width: 87px
      background-color: $white
      border-radius: 50%
      z-index: 2
      &__btn
        background: none
        border: none
        height: 100%
        width: 100%
        position: absolute
        top: 0
        left: 0
        &:hover
          cursor: pointer
        svg
          height: 24px
          width: 24px
          margin-top: 5px
          margin-left: 3px
      &_pause
        margin-right: 3px
  &-widget
    height: 370px
    width: 300px
    margin-top: 50px
    background-color: $white
    border-radius: 31px
    padding: 37px 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    &-photo
      width: 63px
      height: 63px
      background-color: $white
      border-radius: 50%
      position: relative
      &__preview
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100%
        border-radius: 50%
        object-fit: cover
    &-info
      text-align: center
      width: 90%
      overflow: hidden
      position: relative
      &::before, &::after
        content: ''
        display: block
        height: 40px
        width: 50px
        background: linear-gradient(90deg, $white 40%, rgba($white, 0.3))
        position: absolute
        z-index: 2
        top: 15px
      &::before
        left: 0
      &::after
        background: linear-gradient(-90deg, $white 40%, rgba($white, 0.3))
        right: 0
      &__name
        font-size: 20px
        +bold()
      &__desc
        font-size: 20px
        margin-top: 5px
        width: 250%
        color: $black
        animation: player-widget__text 10s linear infinite
        @keyframes player-widget__text
          0%
            transform: translateX(20%)
          100%
            transform: translateX(-100%)
    &__spectr
      max-width: 146px
    &-controls
      display: flex
      align-items: center
      &__btn:disabled
        opacity: 0.3
        transition: opacity 0.5s linear
      &__btn:hover
        cursor: pointer
      &__btn:nth-child(2)
        width: 73px
        height: 73px
        background: linear-gradient(45deg, $orangeLight, $orangeDark)
        border-radius: 50%
        border: none
        margin: 0 20px
        transition: opacity 0.5s linear
        svg
          height: 20px
          width: 20px
          margin-top: 2px
          margin-left: 2px
      &__btn:first-child, &__btn:last-child
        height: 20px
        width: 20px
        border: none
        background: transparent
        transition: opacity 0.5s linear
        svg
          height: 15px
          width: 15px
        &:hover
          svg
            fill: url('#player-widget-gradient')
#m-player-speaker
  display: none
#waveform
  canvas, wave
    max-height: 30px
    cursor: pointer
.enjoy
  color: $white
  width: 185px
  margin-top: 117px
  &__title
    font-size: 53px
    +bold()
    line-height: 51px
    position: relative
    z-index: 1
    &::after
      content: '&'
      position: absolute
      bottom: 13px
      right: -70px
      font-size: 186px
      z-index: 0
      color: rgba($white, 0.6)
  &__text
    &::before
      content: ''
      display: block
      height: 2px
      width: 100%
      background-color: $white
      margin-top: 71px
      margin-bottom: 8px
.swiper
  &-container
    height: 678px
.slider
  position: relative
  &__next, &__prev
    height: 40px
    width: 40px
    background-color: rgba($white, 0.6)
    border-radius: 50%
    z-index: 20
    border: none
    &:focus
      outline: none
    &:hover
      cursor: pointer
    img
      width: 12px
  &__prev
    margin-bottom: 20px
    img
      transform: rotate(180deg)
      margin-bottom: 2px
.case
  width: 453px
  height: 80px
  border-radius: 37px
  padding: 0 22px
  background-color: $white
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: -30px
  &-photo
    position: relative
    height: 45px
    width: 45px
    border-radius: 50%
    &__preview
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      object-fit: cover
      border-radius: 50%
  &-info
    font-size: 20px
    color: $black
    overflow: hidden
    margin-left: 26px
    max-width: 300px
    position: relative
    &::after
      content: ''
      display: block
      height: 30px
      width: 40px
      position: absolute
      bottom: 0
      right: 0
      background: linear-gradient(-90deg, $white 40%, rgba($white, 0.3))
    &__name
      +bold()
    &__desc
      white-space: nowrap
      color: $black
  &-button
    min-width: 40px
    min-height: 40px
    display: flex
    justify-content: center
    align-items: center
  &__btn
    height: 30px
    width: 30px
    border: none
    background: transparent
    border-radius: 50%
    svg
      height: 10px
      width: 10px
    &:hover
      cursor: pointer
      background: linear-gradient(45deg, $orangeLight, $orangeDark)
      svg
        fill: $white
        margin-left: 2px
    &_active
      background: linear-gradient(45deg, $orangeLight, $orangeDark)
      &:hover
        svg
          margin-left: 0
    &_play
      svg
        margin-left: 2px
      &:hover
        svg
          margin-left: 2px
// Letters section
.letters
  &__section
    margin-top: 207px
  &-container
    width: 100%
  &__content
    position: relative
  &-photo
    height: 207px
    width: 207px
    border-radius: 10px
    position: relative
    overflow: hidden
    &:hover
      cursor: pointer
  &__img
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    border-radius: 10px
    object-fit: cover
  &-hide
    position: absolute
    top: 0
    left: 270px
    height: 207px
    width: 207px
    background-color: rgba($black, 0.8)
    border-radius: 10px
    padding-top: 20px
    padding-left: 13px
    z-index: 2
    &__text
      font-size: 20px
      color: $white
      position: relative
      line-height: 24px
      &::after
        content: ''
        display: block
        height: 1px
        width: 110px
        background-color: $white
        position: absolute
        bottom: 7px
        right: 17px
      span
        +bold()
  &-controls
    display: flex
    justify-content: center
    align-items: center
    margin-top: 83px
    &__prev, &__next
      &:hover
        cursor: pointer
    &__prev
      margin-right: 15px
    &__next
      margin-left: 15px
    &__bullet
      display: block
      height: 12px
      width: 12px
      border-radius: 50%
      background-color: rgba($gray, 0.2)
      &:hover
        cursor: pointer
      &_active
        background-color: rgba($gray, 0.8)
.swiper-pagination-bullets
  width: 200px
  display: flex
  justify-content: space-around

// Questions section
.questions
  &__section, &__content
    position: relative
  &__title
    position: absolute
    top: 19px
    left: -108px
    font-size: 288px
    white-space: nowrap
    z-index: 0
  &__image
    position: absolute
    top: 31px
    right: 0
  &__content
    padding-top: 218px
    padding-bottom: 144px
  &__block
    width: 225px
    margin-left: 31px
    margin-top: -11px
  &__subtitle
    font-size: 48px
    margin-bottom: 32px
    line-height: 49px
  &__text
    &::before
      content: ''
      display: block
      height: 2px
      width: 100%
      background-color: rgba($gray, 0.3)
      margin-bottom: 14px
  &__link
    width: 320px
    height: 60px
    background: none
    border: none
    background: linear-gradient(90deg, $orangeLight, $orangeDark)
    display: flex
    justify-content: center
    align-items: center
    border-radius: 30px
    text-decoration: none
    color: $white
    font-size: 20px
    +bold()
    margin-bottom: 33px
    margin-left: 62px
    z-index: 2
    &:hover
      cursor: pointer

// Footer section
.footer
  &__section
    height: 74px
    background-color: rgba($gray, 0.1)
    display: flex
    justify-content: center
    align-items: center
  &__text
    font-size: 20px
    color: $gray
    margin-left: 17px
  &__figure
    width: 9px
    height: 15px

// Media
@import "./sass/_media"
